/* 

General

*/

hr {
	margin: 30px 0px;
}

.list-group-item {
	padding: 0.35rem 1.25rem;
}

/* 

Buttons

*/

.btn-outline-danger {
	color: #dc3545 !important;
}

.btn-outline-success {
	color: #28a745 !important;
}

.btn-outline-danger:hover,
.btn-outline-success:hover {
	color: #ffffff !important;
}
