/*
Sign up 
*/

body {
	background: url("/static/img/sign-up.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#sign-up .card{
	margin-top: 100px;
}
.card,
#footer {
	background-color: transparent;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.5)
}
.btn {
	background-color: transparent;
}
.card-body label,
.card-body p {
	color: #ffffff;
}


