/*
General
*/

.vh100 {
    min-height: 100vh;
}

section {
    padding-top: 100px;
}

.card-text-bold {
    font-weight: 600;
}

.form-check,
.form-h6 {
    color: #ffffff;
}

.form-check-imput {
    padding: 0 15px;
}

.form-check hr {
    border: .5px solid #ffffff;
}

.form-h6 {
    margin: 15px 0 20px;
}

#form_search_btn {
    margin-top: 50px;
}
.fa-star {
	color: gold;
}

/*
Nav
*/

.navbar {
    background-color: #fefefe
}

/*
index.html
*/

#index-welcome {
    background: url("/static/img/index-background.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#index-welcome .row {
    position: absolute;
    bottom: 5%;
    left: 42.5%;
}

.slide-container {
    position: relative;
}

.slide-container .card {
    display: none;
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    background-color: transparent;
}

.arrows-wrraper {
    margin-top: 300px;
}

.arrows-wrraper button {
    opacity: 0.5;
    margin: 0 40px;
    color: #000000;
    outline-color: transparent;
    background: transparent;
    border: none;
}

.arrows-wrraper button:hover {
    opacity: 1;
    color: #5cb85c;
}

/*
Main section
*/

#index-main {
    position: relative;
    background-color: #fefefe;
}

/*
footer
*/

#footer {
    height: 150px;
    background-color: #000000;
}

/*
Overlay
*/

#search-btn {
    padding: 5px 20px;
}

.btn-outline-success {
    margin-left: 10px;
}

.search-overlay {
	display: none;
	position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20% 0 5%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
}
