<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- Bootstrap  CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		 crossorigin="anonymous">
		<!-- Custom styles -->
		<link rel="stylesheet" href="{{url_for('static', filename='custom/error.css')}}" type="text/css" />
		<title>Internal Server Error</title>
	</head>
	<body>
		<div class="error-overlay"></div>
		<div class="container-fluid">
			<div class="row justify-content-center pt-5">
				<div class="text-center text-light pt-5">
					<h1 class="py-3 font-weight-bold text-danger">500</h1>
					<h2 class="py-5">Internal server error</h2>
					<p>Unfortunately there was an error on the server</p>
					<br />
					<p><a class="text-green" href="/">Go somewhere nice :)</a></p>
				</div>
			</div>			
		</div>
	</body>
</html>
