{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" href="{{url_for('static', filename='custom/css/admin.css')}}" type="text/css" />
{% endblock css %}

{% block admin_nav %} {% endblock admin_nav %}

{% block main_content %}
<section class="container vh100">
	<div class="row">
		<div class="card col-12">
			<div class="card-header">Users recipes</div>
			<div class="card-body">
				{% if users_recipes %}
				{% for recipe in users_recipes %}
				<div class="card">
					<a href="{{url_for('recipe', recipe_id=recipe._id)}}" target="_blank">{{recipe._id}} <i class="fas fa-external-link-alt"></i></a>
				</div>
				{% endfor %}
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card col-12">
			<div class="card-header">Hidden recipes</div>
			<div class="card-body">
				{% if hidden_recipes %}
					{% for recipe in hidden_recipes %}
						<div class="card">
							<a href="{{url_for('recipe', recipe_id=recipe._id)}}" target="_blank">{{recipe._id}} <i class="fas fa-external-link-alt"></i></a>
						</div>
					{% endfor %}
				{% else %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-deck col-12">
			<div class="card">
				<div class="card-header">Users</div>
				<div class="card-body">
					{% for user in users %}
					<div class="card">
						<div class="card-header"> {{user.username}}</div>
						<div class="card-body">
							<ul>
								<li>email: {{user.email}}</li>
								<li>
									<ul>Recipes:
										{% for id in user.recipes %}
										<li>{{id}}</li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="card">
				<div class="card-header">Database</div>
				<div class="card-body">
					{% for setting in forms %}
					<div class="card">
						<div class="card-header"> {{setting._id}}</div>
						<div class="card-body">
							{{setting}}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button id="update-db" class="btn btn-danger " disabled>Update DB</button>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock main_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='custom/js/admin.js') }}"></script>
{% endblock scripts %}