{% extends "base.html" %}

{% block log_in_out_btn %}

{% endblock log_in_out_btn %}

{% block main_content %}
	<section class="container vh100">
		<div class="row">
			<div class="card-deck col-12">
				<div class="card">
					<div class="card-header">Users</div>
					<div class="card-body">
						{% for user in users %}
						<div class="card">
							<div class="card-header"> {{user.username}}</div>
							<div class="card-body">
								<ul>
									<li>email: {{user.email}}</li>
									<li>password: {{user.password}}</li>
								</ul>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock main_content %}