{% extends "base.html" %} 

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='custom/css/add-edit.css')}}" type="text/css" />
{% endblock css %}

{% block main_content %}


{% set form_action = "{{ url_for('edit_recipe', recipe_id=recipe_id, user_id=user_id) }}" %}

<section class="vh100 container-fluid">
	
{% include 'add-edit-template.html' %}

</section>

{% endblock main_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='custom/js/add-edit.js') }}"></script>
{% endblock scripts %}