{% extends "base.html" %}


{% block main_content %}


<section class="vh100 container">

	{% if page_title %}
	<h2 class="text-center"> {{ page_title }}</h2>
	<hr>
	{% endif %}
	<div class="row">
		{% for recipe in recipes %}
		<div class="card col-md-4">
			<div>
				<a href="{{url_for('recipe', recipe_id=recipe._id)}}">
					<img class="card-img-top" src="{{ recipe.image }}" alt="{{recipe.title}}">
				</a>
			</div>
			{% set recipe = recipe %}
			<h5 class="text-center card-title">{{ recipe.title }}</h5>
			<hr>
			{% include "recipe-template.html" %}
		</div>
		{% endfor %}
	</div>
</section>
{% endblock main_content %}