{% extends "base.html" %}

{% block css %}
<style>
	hr {
		margin: 30px 0px;
	}

	.list-group-item {
		padding: .35rem 1.25rem;
	}

	.col-xs-12 {
		margin: 15px 0px;
	}

	.btn-outline-danger {
		color: #dc3545!important;
	}

	.btn-outline-success {
		color: #28a745!important;
	}

	.btn-outline-danger:hover,
	.btn-outline-success:hover {
		color: #ffffff!important;
	}
</style>
{% endblock css %}

{% block main_content %}


<section class="vh100 container">
	<div class="row">
		<div class="container">
			<div class="row">
				<h2 class=" col-12 text-center">{{recipe.title|title}}
					<button onclick="return print_recipe('{{recipe._id}}')" class="btn btn-light"><i class="fas fa-print"></i>
					</button>
				</h2>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-12">
							<img class="card-img-top" src="{{ recipe.image }}" alt="{{recipe.title}}">
							<hr>
						</div>
						{% if session %}
						<div class="col-12">							
							{% if recipe_id in user_in_db.votes %}
							<div class="row justify-content-center">
								<p class="font-weight-bold">You already voted or you are owner of the recipe</p>								
							</div>
							<div class="row justify-content-center">
								<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
							</div>
							{% else %}
							<div class="row justify-content-around">
								<a href="/vote_up/{{recipe._id}}/{{user_in_db._id}}" class="btn btn-outline-success"><i class="fas fa-thumbs-up"></i></a>
								<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
								<a href="/vote_down/{{recipe._id}}/{{user_in_db._id}}" class="btn btn-outline-danger"><i class="fas fa-thumbs-up fa-rotate-180"></i></a>
							</div>
							{% endif %}
						</div>
						{% else %}
						<div class="col-12 text-center">
							<p class="font-weight-bold">You must be loged in to vote / edit recipe</p>
							<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
						</div>
						{% endif %}
						
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<p class="card-text"></p><a href="{{url_for('search_by_time', limit=12, offset=0)}}"><i class="fas fa-clock"></i>
						{{ recipe.readyInMinutes }} min</a>
					</p>
					<ul class="list-group list-group-flush">
						{% for ingredient in recipe.extendedIngredients %}
						<li class="list-group-item">
							{{ingredient.original|title}}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<h3 class="col-12 text-center">Steps</h3>
				<div class="col-xs-12">
					<ol>
						{% set list = recipe.analyzedInstructions[0].steps %}
						{% for dic in list %}
						<li>{{dic.step}}</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
	{% if recipe.winePairing.pairingText %}
	<hr>
	<div class="row">
		<h3 class="col-12 text-center">Wine pairing</h3>
		<div class="col-xs-12 text-center">
			<p>{{recipe.winePairing.pairingText}}</p>
		</div>
	</div>
	{% endif %}
	<hr>
	<h6 class="text-center">Credits: {{recipe.creditsText}}</h6>
	<hr>
	{% set recipe = recipe %}
	{% if recipe.dishTypes or recipe.cuisines or recipe.diets %}
	<h6 class="text-center"> Recipe tags </h6>
	{% else %}
	{% endif %}
	{% include "recipe-template.html" %}
	{% if user_in_db %}
	{% for id in user_in_db.recipes %}
	{% if id == recipe_id %}
	<div class="row justify-content-center">
		<a class="color-red" href="{{url_for('edit_recipe', recipe_id=recipe_id, user_id=user_in_db._id)}}">Edit recipe</a>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
</section>

{% endblock main_content %}