{% extends "base.html" %}

{% block css %}
<style>
	hr {
		margin: 30px 0px;
	}

	.list-group-item {
		padding: .35rem 1.25rem;
	}

	.col-xs-12 {
		margin: 15px 0px;
	}

	.btn-outline-danger {
		color: #dc3545!important;
	}

	.btn-outline-success {
		color: #28a745!important;
	}

	.btn-outline-danger:hover,
	.btn-outline-success:hover {
		color: #ffffff!important;
	}
</style>
{% endblock css %}

{% block main_content %}


<section class="vh100 container">
	<div class="row">
		<div class="container">
			<div class="row">
				<h2 class=" col-12 text-center">{{recipe.title|title}}
					<button onclick="return print_recipe('{{recipe._id}}')" class="btn btn-light"><i class="fas fa-print"></i>
					</button>
				</h2>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-12">
							<img class="card-img-top" src="{{ recipe.image }}" alt="{{recipe.title}}">
							<hr>
						</div>
						{% if session.user %}
						<div class="col-12">
							{% if user_recipe %}
							<div class="row justify-content-center">
								<p class="font-weight-bold">You can not vote for your own recipes.</p>
							</div>
							<div class="row justify-content-center">
								<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
							</div>
							{% elif voted_recipes %}
							<div class="row justify-content-center">
								<p class="font-weight-bold">You already voted for this recipe.</p>
							</div>
							<div class="row justify-content-center">
								<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
							</div>
							{% else %}
							<div class="row justify-content-around">
								<a href="/vote_up/{{recipe._id}}/{{user_in_db._id}}" class="btn btn-outline-success"><i class="fas fa-thumbs-up"></i></a>
								<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
								<a href="/vote_down/{{recipe._id}}/{{user_in_db._id}}" class="btn btn-outline-danger"><i class="fas fa-thumbs-up fa-rotate-180"></i></a>
							</div>
							{% endif %}
						</div>
						{% else %}
						<div class="col-12 text-center">
							<p class="font-weight-bold"><a href="#" data-toggle="modal" data-target="#log-in-modal">You must be logged in to vote / edit recipe</a></p>
							<p><i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}</p>
						</div>
						{% endif %}
						
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<p class="card-text"></p><a href="{{url_for('search_by_time', limit=12, offset=0)}}"><i class="fas fa-clock"></i>
						{{ recipe.readyInMinutes }} min</a>
					</p>
					<ul class="list-group list-group-flush">
						{% for ingredient in recipe.extendedIngredients %}
						<li class="list-group-item">
							{{ingredient.original|title}}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<h3 class="col-12 text-center">Steps</h3>
				<div class="col-xs-12">
					<ol>
						{% set list = recipe.analyzedInstructions[0].steps %}
						{% for dic in list %}
						<li>{{dic.step}}</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
	{% if recipe.winePairing.pairingText %}
	<hr>
	<div class="row">
		<h3 class="col-12 text-center">Wine pairing</h3>
		<div class="col-xs-12 text-center">
			<p>{{recipe.winePairing.pairingText}}</p>
		</div>
	</div>
	{% endif %}
	<hr>
	<h6 class="text-center">Credits: {{recipe.creditsText}}</h6>
	<hr>
	{% set recipe = recipe %}
	{% if recipe.dishTypes or recipe.cuisines or recipe.diets %}
	<h6 class="text-center"> Recipe tags </h6>
	{% else %}
	{% endif %}
	{% include "recipe-template.html" %}
	{% if user_in_db %}
	{% if session.user == "CI" and recipe.user_recipe == true or session.user == "admin" and recipe.user_recipe == true %}
	<div class="row justify-content-around pt-5">
		<button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#delete-recipe">Delete recipe</button>
		{% if recipe.visibility == false %}
		<a class="btn btn-outline-success" href="{{url_for('approve_recipe', recipe_id=recipe_id)}}">Approve recipe</a>
		{% else %}
		<a class="btn btn-outline-secondary" href="{{url_for('hide_recipe', recipe_id=recipe_id)}}">Hide recipe</a>
		{% endif %}
		<a class="btn btn-outline-warning" href="{{url_for('edit_recipe', recipe_id=recipe_id, user_id=user_in_db._id)}}">Edit
			recipe</a>
	</div>
	{% else %}
	{% for id in user_in_db.recipes %}
	{% if id == recipe_id %}
	<hr>
	<div class="row justify-content-around">
		<button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#delete-recipe">Delete recipe</button>
		<a class="btn btn-outline-warning" href="{{url_for('edit_recipe', recipe_id=recipe_id, user_id=user_in_db._id)}}">Edit
			recipe</a>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}	
	{% endif %}
</section>

<!-- Delete recipe confirmation modal -->
{% if session.user %}
<div class="modal fade" id="delete-recipe" tabindex="-1" role="dialog" aria-labelledby="log-out" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="log-out">Are you sure you want to delete this recipe?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger" href="{{url_for('delete_recipe', recipe_id=recipe_id, user_id=user_in_db._id)}}">DELETE</a>
			</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock main_content %}

{% block scripts %}
  <script>

  </script>
{% endblock scripts %}