{% extends "base.html" %}

{% block main_content %}

<section class="vh100 container pb-5">
	{% if page_title %}
	<h2 class="text-center"> {{ page_title }}</h2>
	<hr>
	{% endif %}
	<div class="row">
		{% for recipe in recipes %}
		<div class="card col-md-4">
			<div>
				<a href="{{url_for('recipe', recipe_id=recipe._id)}}">
					<img class="card-img-top" src="{{ recipe.image }}" alt="{{recipe.title}}">
				</a>
			</div>
			<h5 class="text-center card-title">{{ recipe.title|title }}</h5>
			<div class="row justify-content-center">
				<p>
					<i class="fas fa-star fa-lg"></i> {{ recipe.aggregateLikes }}
				</p>
			</div>
			<hr>
			{% include "recipe-template.html" %}
		</div>
		{% endfor %}
	</div>
	{% if num_of_results > limit %}
	<hr>
	<div class="row justify-content-around">
		{% if offset > 0 %}
		<a href="{{previous_url}}"><i class="fas fa-angle-left fa-6x"></i></a>
		{% endif %}
		{% if offset + limit < num_of_results %} <a href="{{next_url}}"><i class="fas fa-angle-right fa-6x "></i></a>
			{% endif %}
	</div>
	{% endif %}	  
</section>
{% endblock main_content %}