


<div>
	{% if recipe.dishTypes[0] %}
	<ul class="list-inline row justify-content-center">
		{% for type in recipe.dishTypes %}
		<li class="list-inline-item">
			<a class="tags" href="{{url_for('search_by_type', dish_type=type)}}">{{ type|title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if recipe.cuisines[0] %}
	<ul class="list-inline row justify-content-center">
		{% for cuisine in recipe.cuisines %}
		<li class="list-inline-item">
			<a class="tags" href="{{url_for('search_by_cuisines', cuisine=cuisine)}}">{{ cuisine|title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% if recipe.diets[0] %}
	<ul class="list-inline row justify-content-center">
		{% for diet in recipe.diets %}
		<li class="list-inline-item">
			<a class="tags" href="{{url_for('search_by_diet', diet_type=diet)}}">{{ diet|title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class="row justify-content-center">
		<p class="card-text"><a href="{{url_for('search_by_time')}}"><i class="fas fa-clock"></i> {{ recipe.readyInMinutes
				}} min</a>
		</p>
	</div>
</div>