{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='custom/css/search-form-sm.css')}}" type="text/css" />
{% endblock css %}

{% block search_form_btn %}

{% endblock search_form_btn %}

{% block search_form_modal %}

{% endblock search_form_modal %}

{% block main_content %}

{% include 'search-form.html' %}

{% endblock main_content %}

{% block scripts %}
<script src="{{ url_for('static', filename='custom/js/search-form-sm.js') }}"></script>
{% endblock scripts %}